@keyframes float {
	0% {
		transform: translatey(20px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(20px);
	}
}

.avatar {
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
}

html {
	scroll-behavior: smooth;
}